<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    
    <!-- CSS File -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="backgroundAbout">
    
    <!-- Page Heading -->
    <div class="navbar">
        <a href="{{ urle }}">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a class="active">About</a>
        <a href="{{ urli }}" class="home">Home</a>
    </div>

    <div class = "container2">
        <h3> About Us </h3>
        <div class = "normalFont">Through our own experiences, we have seen that students and teachers often have a hard time forming groups that balance diverse perspectives and skillsets. Many times, students pair up with the same friends, leading to rigid thinking and preventing new connections/relationships.
            <br><br>
                To avoid this, teachers may choose to randomly assign groups. However, this can lead to a host of problems from internal conflits to unfair groupings. To address these issues, we have created a user-friendly application that can assist students and teachers in forming productive and cohesive teams. Our site matches individuals together based on survey results we receive from each student. The survey will cover personality questions (based on the Myers–Briggs Type Indicator) and a self-assesment of relevant skills, which are customized by the instructor to fit the specific needs of the class.
            <br><br><br>
            What is the Myers-Briggs Type Indicator (MBTI)?
            <br><br>
            The MBTI is a questionnaire designed to discern psychological differences between people. These differences are represented by four categories: introversion vs extraversion, sensing vs intuition, thinking vs feeling, and judging vs perceiving. In total, there are 16 types which are typically represented by an abbreviation of the above categories (e.g. ENTP or ISFJ). It's worth noting here that the MBTI has faced significant criticism in regards to its scientific rigor. That's why our algorithm prioritizes skill sets over personality types when creating the teams. Additionally, in the context of forming teams based on psychological traits, the MBTI is by far the most popular and well tested assessment. In fact, with greater automation in human resources and talent acquisition, many companies have begun incorporating personality tests like the MBTI into their recruiting process as a way to evaluate the cultural fit of a candidate.
            <br><br><br>
            Personality Types:
            <br><br>
            Analysts: Intuitive (N) and thinking (T) personality types, known for their rationality, impartiality, and intellectual excellence.
            <br><br>
Diplomats: Intuitive (N)  and Feeling (F) personality types, known for their empathy, diplomatic skills, and passionate idealism.
            <br><br>
Leaders: Observant (S) and Judging (J) personality types, known for their practicality and focus on order, security, and stability.
            <br><br>
Explorers: Observant (S) and (P) Prospecting personality types, known for their spontaneity, ingenuity, and ability to live in the moment.
        </div>
    </div>
 

</body>

</html>