<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- CSS File -->
    <link href="static/style1.css" rel="stylesheet">
</head>

<body class="backgroundeducators">   

    <!-- Page Heading -->
    <div class="navbar">
        <a class="active">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a href="{{ urla }}">About</a>
        <a href="{{ urli }}" class="home">Home</a>
    </div>
    
    <br><br>
    <a href="{{ urlel }}" class="button1">Log In</a>
    
    <br><br>
    <a href="{{ urles }}" class="button2">Sign Up</a>

</body>

</html>