<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- CSS File -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="backgroundTeacherLogin">

    <!-- Page Heading -->
    <div class="navbar">
        <a href="{{ urle }}">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a href="{{ urla }}">About</a>
        <a href="{{ urli }}" class="home">Home</a>
    </div>

    <div class="summary">
        {{ text }}
    </div>
    
    <form method="POST">
        
        <h3>Educator Login</h3>
        
        <div class="question"> 
             Username
        </div>

        <div class="choices">
            <input name="username" autocomplete="off">
        </div>

        <div class="question"> 
             Password
        </div>
        
        <div class="choices">
            <input name="password" type="password" autocomplete="off">
        </div>
        
        <div class="question">
            <input type="submit">
        </div>
        
        <a href="{{ urlfp }}">Forgot Your Password?</a>
        
    </form>

</body>

</html>