<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- CSS File -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="backgroundCover">
    
    <!-- Page Heading -->
    <div class="navbar">
        <a href="{{ urle }}">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a href="{{ urla }}">About</a>
        <a class="activehome">Home</a>
    </div>

</body>

</html>