<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- CSS File -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="backgroundCode">
        
    <!-- Page Heading -->
    <div class="navbar">
        <a href="{{ urle }}">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a href="{{ urla }}">About</a>
        <a href="{{ urli }}" class="home">Home</a>
    </div>
    
    <div class="summary">
        {{ text }}
    </div>
    
    <form method="POST">
        
        <div class="question"> 
             Please enter your class code (ask your teacher if you don't know what this means)
        </div>

        <div class="choices">
            <input name="classcode" placeholder="e.g. Macroeconomics2739" autocomplete="off">
        </div>
        
        <div class="question">
            <input type="submit">
        </div>
        
    </form>

</body>

</html>