<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- CSS File -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="background">

    <!-- Page Heading -->
    <div class="navbar">
        <a href="{{ urle }}">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a href="{{ urla }}">About</a>
        <a href="{{ urli }}" class="home">Home</a>
    </div>
    
    <form method="POST">
        
        <div class="question"> 
             <h2>Enter Class Code</h2>
        </div>
        
        <div class="choices">
            <input name="tskill" autocomplete="off">
        </div>
        
    </form>

</body>

</html>