<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

    <!-- CSS File -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="backgroundCreateSurvey">

    <!-- Page Heading -->
    <div class="navbar">
        <a href="{{ urle }}">For Educators</a>
        <a href="{{ urls }}">For Students</a>
        <a href="{{ urla }}">About</a>
        <a href="{{ urli }}" class="home">Home</a>
    </div>
    
    <div class = "container">
        <h4>Success!</h4>
    </div>

    <div class="container5">
        <div class = "centerFont1">
            You've created a new class, {{ classname }}. The associated class ID is:
           
            <br><br>
            <div class = "centerFont1Bold">
                {{ classid }}
            </div>
       
            <br>
            Please copy this ID and send it to your students. They will need to enter it before accessing your unique survey.
            
            <br><br><br>
        </div>
         
        <a href="{{ urle }}" class="button">Return Home</a>
    </div>

</body>

</html>